body {
  background-color: #000000;
  color: #fff;
}

.container {
  width: 750px;
  margin: 0 auto;
  /* border: 1px solid rgb(255, 255, 255); */
  /* border: 1px solid white; */
}

.title {
  font-size: 29px;
}

.post {
  border: 2px solid #323232;
  background: #000000;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
}

.headerTitle {
  font-size: 35px;
  margin: 0;
}
.headerButton {
  font-size: 15px;
  border-radius: 10px;
  background-color: red;
  color: rgb(255, 255, 255);
  /* border: none; */
  border: 1px, solid, black;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #303030;
}
