body {
  background-color: #000000;
  color: #fff;
}

.container {
  width: 750px;
  margin: 0 auto;
  /* border: 1px solid rgb(255, 255, 255); */
  /* border: 1px solid white; */
}

.title {
  font-size: 29px;
}

.post {
  border: 2px solid #323232;
  background: #000000;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
}

.headerTitle {
  font-size: 35px;
  /* margin: 0; */
}
.headerButton {
  font-size: 15px;
  border-radius: 10px;
  background-color: red;
  color: rgb(255, 255, 255);
  /* border: none; */
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #303030;
}

.createPost {
  display: flex;
  width: 500px;
  border: 1px solid #323232;
  margin: 0 auto;
  border-radius: 5px;
  flex-direction: column;
}

.createPostTitle {
  font-size: 30px;
}

.createPostTitleInput {
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #323232;
  border-radius: 2px;
  width: 100%;
  height: 25px;
  outline: none;
}

.createPostSmallTitle {
  margin-bottom: 5px;
}

.createPostDescription {
  margin-bottom: 5px;
}

.createPostDescriptionTextarea {
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #323232;
  border-radius: 2px;
  margin-bottom: 20px;
  width: 100%;
  height: 100px;
  /* text-align: center; */
  outline: none;
}

.createPostTitleInput:focus,
.createPostDescriptionTextarea:focus {
  border-color: rgb(194, 106, 0);
}

.createPostButton {
  font-size: 12px;
  border-radius: 10px;
  background-color: red;
  color: rgb(255, 255, 255);
  border: 1px, solid, red;
}

.createPostCancelButton {
  font-size: 12px;
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: 1px, solid, red;
}

.createPostButtons {
  display: flex;
  gap: 20px;
}

.postCard {
  margin: 10px;
}

.createPostTitle-input {
  display: flex;
}
