body {
  background-color: #000000;
  color: #fff;
}

.container {
  width: 750px;
  margin: 0 auto;
  /* border: 1px solid rgb(255, 255, 255); */
}

.title {
  font-size: 29px;
}

.post {
  border: 2px solid #323232;
  background: #000000;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
}
